html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 220px auto 150px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
}

#header {
    background-color: #404040;
    grid-area: header;
}

#left-panel {
    background-color: #ff7641;
    grid-area: left;
}

#editor-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

#right-panel {
    background-color: #41ffa6;
    grid-area: right;
}

#footer {
    color: #FFF;
    background-color: #428aff;
    grid-area: footer;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#editor-control {
    height: 50px;
    background: #999;
    color: #FFF;
}



#editor {
    margin: 0px;
    flex-grow: 1;
}

#editor-log {
    height: 250px;
    margin: 0px;
    padding: 1em;
    background: #CCC;
    color: #000;
    font-family: monospace;
    font-size: 0.7em;
    line-height: 1.0;
}

#editor-control > ul{
    display: flex;
    height: 100%;
	margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: row;
}
#editor-control > ul > li {
    margin: 1em;
    list-style-type: none;
    cursor: pointer;
}

#footer > p {
    font-size: 0.8em;
    padding: 0;
    margin-left: 1em;
}